

<h1>Team</h1>

<img src="https://openup.fr/wp-content/uploads/2022/08/How-to-motivate-teambuilding1-1024x576.png.webp" class="img-fluid" alt="team">

<p><strong>La team :</strong></p>
<p>James BARTHEE</p>

