
<h1>Fiche Profil</h1>

<p>Email de l'auteur : <%= @gossip.user.email %></p>

<p>Âge de l'auteur : <%= @gossip.user.age %></p>

<p>Description de l'auteur : <%= @gossip.user.description %></p>

<p>Le gossip : <%= @gossip.content %></p>
